---
import "../assets/styles/global.css";
import { fontFaces } from "../assets/fonts.js";

interface Props {
    title: string;
    description: string;
}   
const {title, description = "B2B Landing Page for inkOUT"} = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="generator" content={Astro.generator} />
    <meta name="description" content={description} />
    <title>{title}</title>
    
    <!-- Inject font-face declarations with proper URLs -->
    <style set:html={fontFaces}></style>
</head>
<body class="bg-black md:max-w-[90rem] mx-auto">
    <slot />
</body>
</html>