<style>
    .border-color-gradient-to-right:hover {
        border: 2px solid transparent
    }
</style>

<section class="px-[80px] py-[100px] text-center">
    <h2 class="uppercase mb-[60px]">JOIN THE MOVEMENT TO GET THE INKOUT SAFELY AND NATURALLY</h2>
    <div class="text-left text-white font-roboto text-[22px] leading-[36.4px] space-y-[24px]">
        <div class="flex justify-center gap-[24px]">
            <div class="border-color-gradient-to-right pt-[50px] px-[30px] md:h-[230px] md:w-[357px]">
                <p class="font-[100]"><span class="font-[500]">40+ successful studio implementations</span> nationwide.</p>
            </div>
            <div class="border-color-gradient-to-right  pt-[50px] px-[30px] md:h-[230px] md:w-[357px]">
                <p class="font-[100]"><span class="font-[500]">Science-backed technology</span> with proven results.</p>
            </div>
        </div>
        <div class="flex justify-center gap-[24px]">
            <div class="border-color-gradient-to-right  pt-[50px] px-[30px] md:h-[230px] md:w-[357px]">
                <p class="font-[100]"><span class="font-[500]">Professional certification program</span> for your team.</p>
            </div>
            <div class="border-color-gradient-to-right  pt-[50px] px-[30px] md:h-[230px] md:w-[357px]">
                <p class="font-[100]"><span class="font-[500]">Comprehensive results documentation</span> system.</p>
            </div>
            <div class="border-color-gradient-to-right  pt-[50px] px-[30px] md:h-[230px] md:w-[357px]">
                <p class="font-[100]"><span class="font-[500]">Extensive before/after gallery</span> showing real results.</p>
            </div>
    </div>
    </div>


</section>