---
import SafeNatural1 from '../../assets/images/safe-natural-img1.jpg'
---
<section class="p-[80px]">
  <h2 class="text-center">Safe, Natural Outcomes for Artists and Clients</h2>
  <div class="mt-[50px]">
  <div 
    class="md:h-[500px] md:w-[418px] md:pl-[25px] md:pr-[30px] md:pb-[37px] md:pt-[157px] rounded-3xl bg-cover bg-center" 
    style={`background-image: url('${SafeNatural1.src}')`}>
        <p class=" text-white capitalize font-roboto text-[22px] font-[500]">inkOUT harnesses the body's natural healing processes to deliver superior results in fewer sessions. Our methodology has evolved traditional ink removal into an art form—giving you complete control over revisions, replacements, and full pattern disruption for more vibrant coverups.</p>
  </div>
  </div>
</section>
