
/* Style the previous arrow */
.splide__arrow--prev {
  background: url('../assets/icons/arrow-prev.svg') no-repeat center center;
  background-size: contain;
  width: 60px;
  height: 60px;
  opacity: 1;
}

.splide__arrow--next {
  background: url('../assets/icons/arrow-next.svg') no-repeat center center;
  background-size: contain;
  width: 60px;
  height: 60px;
  opacity: 1;
}

.splide__arrow svg {
  display: none;
}


.splide__arrow {
  border: none;
  cursor: pointer;
}

.splide__arrow--prev.splide__arrow--disabled,
.splide__arrow--next.splide__arrow--disabled {
  opacity: 0.3;
  cursor: not-allowed;
}
